{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ comment.ip }}</td>
            </tr>
            <tr>
                <th>CreatedDate</th>
                <td>{{ comment.createdDate ? comment.createdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_comment_index') }}">back to list</a>

    <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('admin_comment/_delete_form.html.twig') }}
{% endblock %}
