<ul>
    <li><a href="{{ path('user_index') }}">Użytkownicy</a></li>
    <li><a href="/admin/post">Posty</a></li>
    <li><a href="/admin/comment">Komentarze</a></li>
    <li><a href="/admin/voting">Głosowania</a></li>
</ul>