<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <style>
            #post-list{float:left;list-style:none;margin-top:-3px;padding:0; width: 100%; position: absolute;}
            #post-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
            #post-list li:hover{background:#ece3d2;cursor: pointer;}

            .highlight  {
                color:red;
                animation: blinker 2s linear infinite;
            }

            @keyframes blinker {
                50% {
                    opacity: 0;
                }
            }
        </style>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

    <div class="container">
        <div class="row">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

        {% block body %}{% endblock %}
        </div>
    </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const searchField = $('#search_searchTerm');
        const suggestionBox = $('#suggesstion-box');

        const Post = {
            title : null,
            content : null,
            url : null
        };

        class ListComponent {
            constructor(jQuery) {
                this.object = jQuery;
                this.createContainer();
            }

            createContainer()
            {
                this.object.append('<ul id="post-list"></ul>')
            }

            clear()
            {
                $('#post-list').find('li').remove();
            }

            render(post, searchTerm) {
                console.log(searchTerm);
                return `<li><a href="${this.createUrl(post.url, searchTerm)}">${post.title}</a></li>`
            }

            createUrl(urlFromServer, searchTerm)
            {
                const url = new URL(urlFromServer);
                url.searchParams.append('searchTerm', searchTerm)
                return url.toString();
            }

            append(post, searchTerm)
            {
                $('#post-list').append(this.render(post, searchTerm));
            }
        }

        const listComponent = new ListComponent(suggestionBox);

        searchField.keyup(function() {

            if(searchField.val().length < 4) {
                return ;
            }

            $.ajax({
                url: '{{ path('search_in_blog') }}',
                data : {
                    searchTerm: searchField.val()
                },
                success: function(result) {
                    listComponent.clear();
                    result.map(post => {
                        listComponent.append(post, searchField.val());
                    });
                }
            });
        });

    </script>
    {% block scripts %}
{#        This is where scripts shoud be #}
    {% endblock %}
</html>
