{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>
    {{ include('post/_form.html.twig', {'button_label': 'Update', 'attr' : { 'class' : 'btn btn-info'}}) }}
    <div class="btn-group col-md-4">

    <a class="btn btn-info" href="{{ path('post_index') }}">back to list</a>

    {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
