{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}
{#//https://dev.to/nenadra/how-to-make-a-search-box-with-a-dropdown-in-javascript-4j9p#}
{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                    <a href="{{ path('post_delete', {'id': post.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('post_new') }}">Create new</a>
{% endblock %}
