{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h2>Post "{{ post.title }}"</h2>
    <p>{{ post.content }} </p>

    <div class="btn-group col-md-3">
    <a class="btn btn-info" href="{{ path('post_index') }}">back to list</a>

    <a class="btn btn-success"href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
