{% extends 'base.html.twig' %}

{% block css %}
    <link href="/css/skins/square/grey.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <link href="/css/bootstrap3-wysihtml5.min.css" rel="stylesheet">
    <link href="/css/dropzone.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block body %}

    <div class="container margin_60">
        <div id="tabs" class="tabs">
            {% include 'client/menu.html.twig' with {current : 'account'} %}
            <div class="content">

                <section id="section-0" class="content-current">

                    {% if error %}
                        <div class="alert alert-{{ error.type }}" role="alert"> {{ error.data }} </div>
                    {% endif %}

                        <div class="col-md-6 col-sm-6 add_bottom_15">
                            <div class="indent_title_in">
                                <i class="icon_lock_alt"></i>
                                <h3>Zmiana hasła</h3>
                            </div>
                            <form method="post">
                            <div class="wrapper_indent">
                                <div class="form-group">
                                    <label>Hasło</label>
                                    <input class="form-control" required name="old_password" id="old_password" type="password">
                                </div>
                                <div class="form-group">
                                    <label>Nowe hasło</label>
                                    <input class="form-control" required name="new_password" id="new_password" type="password">
                                </div>
                                <div class="form-group">
                                    <label>Potwierdź hasło</label>
                                    <input class="form-control" required name="confirm_new_password" id="confirm_new_password" type="password">
                                </div>
                                <button type="submit" name="update_password" value="true" class="btn_1 green">Zmień hasło</button>
                            </div><!-- End wrapper_indent -->
                            </form>
                        </div>

                        <div class="col-md-6 col-sm-6 add_bottom_15">
                            <div class="indent_title_in">
                                <i class="icon_mail_alt"></i>
                                <h3>Zmiana danych</h3>
                            </div>
                            <form method="post">
                            <div class="wrapper_indent">
                                <div class="form-group">
                                    <label>Adres e-mail</label>
                                    <input class="form-control" required name="old_email" id="old_email" type="email">
                                </div>
                                <div class="form-group">
                                    <label>Nowy adres e-mail</label>
                                    <input class="form-control" required name="new_email" id="new_email" type="email">
                                </div>
                                <div class="form-group">
                                    <label>Potwierdź adres e-mali</label>
                                    <input class="form-control" required name="confirm_new_email" id="confirm_new_email" type="email">
                                </div>

                                <button type="submit" name="update_email" value="true" class="btn_1 green">Zaktualizuj e-mail</button>
                            </div><!-- End wrapper_indent -->
                            </form>
                        </div>
                </section>

            </div>
        </div>
    </div>

{% endblock %}