<form method="post" action="{{ path('vote_delete', {'id': vote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vote.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
