{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btn-group">
        <button class="btn btn-success">{{ button_label|default('Zapisz') }}</button>
        <a class="btn btn-info" href="{{ path('vote_index') }}">Powrót do listy</a>
    </div>
{{ form_end(form) }}
    {% if disableDelete == false %}
        {{ include('vote/_delete_form.html.twig') }}
    {% endif %}
