{% extends 'base.html.twig' %}
{% block title %} Głosowania {% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h2>Głosowania</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Treść głosowania</th>
                    <th>Termin głosowania</th>
                </tr>
            </thead>
            <tbody>
                {% for vote in votes %}
                <tr>
                    <td>{{ vote.id }}</td>
                    <td>{{ vote.question }}</td>
                    <td>{{ vote.dueDate | date('Y-m-d H:i:s')}}</td>
                    <td><a id="open-voting-modal" class="btn btn-success" href="{{ path('take_a_vote', {id : vote.id}) }}">Zabierz głos</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}