{% extends 'base.html.twig' %}

{% block title %}Edit Vote{% endblock %}

{% block body %}
    <h1>Edycja głosowania</h1>

    {{ include('vote/_form.html.twig', {'button_label': 'Aktualizuj', disableDelete : false}) }}
{% endblock %}
