{% extends 'base.html.twig' %}

{% block title %}Lista głosowań{% endblock %}

{% block body %}
    <h1>Lista głosowań</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data utworzenia</th>
                <th>Termin głosowania</th>
                <th>Pytania</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.id }}</td>
                <td>{{ vote.createdDate ? vote.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vote.dueDate ? vote.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vote.question }}</td>
                <td>
                    <div class="btn-group">
                    <a class="btn btn-info" href="{{ path('vote_show', {'id': vote.id}) }}">Pokaż</a>
                    <a class="btn btn-info" href="{{ path('vote_edit', {'id': vote.id}) }}">Edycja</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('vote_new') }}">Stwórz nowe głosowanie</a>
{% endblock %}
