{% extends 'base.html.twig' %}

{% block title %}New Vote{% endblock %}

{% block body %}
    <h1>Stwórz nowe głosowanie</h1>

    {{ include('vote/_form.html.twig', { disableDelete : true}) }}
{% endblock %}

{% block scripts %}
    <script>
        const disableCheckbox = $('#vote_isActivated');
        const form = $('form[name="vote"]');

        console.log('Form %o', form);

        form.submit(function() {
            if(disableCheckbox.prop('checked') === true) {
                return confirm('Uwaga. Aktywując głosowanie nie będizesz mógł go edytować. Czy kontynuować?');
            }
        });
    </script>
{% endblock %}

