{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <h1>Vote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th></th>
                <td>{{ vote.id }}</td>
            </tr>
            <tr>
                <th>Data utworzenia</th>
                <td>{{ vote.createdDate ? vote.createdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Termin głosowania</th>
                <td>{{ vote.dueDate ? vote.dueDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Pytanie</th>
                <td>{{ vote.question }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('vote_edit', {'id': vote.id}) }}">edit</a>
{% endblock %}
