{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 style="text-align: center; margin-top: 50px">Głosowanie nr {{ vote.id }}</h1>
            <h2 style="text-align: center">{{ vote.question }}</h2>

            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

                <div class="btn-group" style="width: 100%">
                    {{ form_widget(form.yes) }}
                    {{ form_widget(form.no) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}