{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm.searchTerm) }}
            <div id="suggesstion-box">

            </div>
        {{ form_end(searchForm) }}
        </div>
    </div>
<div class="row">
    <h4 style="margin-top: 30px; margin-bottom: 30px">Welcome to my blog</h4>
    <div class="card-deck">
    {% for post in posts %}
        <div class="card col-md-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <a href="{{ path('user_post_read', { id: post.id}) }}" class="btn btn-primary">read more</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Post date: {{ post.createdDate | date('Y-m-d H:i:s') }}</small>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}