{% extends 'base.html.twig' %}

{% block scripts %}
    <script type="text/javascript">
        const form = $('#comment_form');

        class Comment {
            constructor(content, createDate, ip) {
                this.content = content;
                this.createDate = createDate;
                this.ip = ip;
            }
        }

        class CommentsComponent
        {
            constructor(object) {
                this.object = object;
                this.comments = [];
            }

            clearComments()
            {
                this.object.find('div').remove();
            }

            addComment(comment)
            {
                this.comments.push(comment);
            }

            addCommentOnTop(comment)
            {
                this.comments.unshift(comment);
            }

            render()
            {
                this.clearComments();
                this.comments.map(comment => {
                    this.object.append(`<div class="comment" style="border-bottom: 1px solid #ddd">
                        <p>${comment.content}</p>
                        <p style="text-align: right; font-size: 0.7rem">created: ${ comment.createDate} ip: ${ comment.ip }</p>
                    </div>`);
                });
            }
        };

        const commentContainer = new CommentsComponent($('#comments'));

        form.submit(function () {
            console.log(form.serialize());
            $.ajax({
                url: '{{ path('create_comment', {id : post.id}) }}',
                method: 'POST',
                type: 'json',
                data: form.serialize(),
                success: function (response) {
                    commentContainer.addCommentOnTop(new Comment(response.content, response.createDate, response.ip));
                    commentContainer.render();
                },
                error: function (response) {
                    alert('Message already added');
                }
            });

            return false;
        });

        $.ajax({
            url: '{{ path('get_post_comments', {id : post.id}) }}',
            method: 'GET',
            success: function (response) {
                response.map(comment => commentContainer.addComment(new Comment(comment.content, comment.createDate, comment.ip)));
                commentContainer.render();
            }
        });

    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h1>{{ post.title | highlightSearchTerm | raw}}</h1>
            {{ post.content | highlightSearchTerm(50) | raw}}

            <p style="text-align: right; margin-top: 20px;">Author {{ post.author.username }}, on {{ post.createdDate | date('Y-m-d H:i:s') }}</p>
            <h2 style="margin-top: 30px">Comments</h2>

            {{ form_start(commentForm) }}

            <div class="my-custom-class-for-errors">
                {{ form_errors(commentForm) }}
            </div>

            {{ form_widget(commentForm) }}
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            {{ form_end(commentForm) }}

            <div id="comments">

            </div>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info" href="{{ path('default') }}">back to list</a>

            {{ form_start(postSearchForm) }}
            {{ form_widget(postSearchForm.approximateSearchTerm) }}
            <button class="btn btn-success">{{ button_label|default('Search') }}</button>
            {{ form_end(postSearchForm) }}
        </div>
    </div>
{% endblock %}